PORT=8080
FRONTEND_URL=http://localhost:5173
MONGO_URI=mongodb://localhost:27017/shin-sekai
JWT_SECRET_KEY=replace_with_secure_secret
JWT__REFRESH_SECRET_KEY=replace_with_secure_refresh_secret
JIKAN_API=https://api.jikan.moe/v4
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
NODE_ENV=development
LOG_LEVEL=info
